<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Menu</h5>

    <a href="/menu/{{id}}">
      {{!-- <header>{{name}}</header> --}}
      <i class="fad fa-school">{{name}}</i>

    </a>

  </div>
</div>