
{{!-- <section>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to School Nutrition!</h1>
        <p class="lead">Our menus have a new look and new features!</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
     <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#">school</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
     </div>
    </div>
</section> --}}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">What's for lunch</h1>
    <p class="lead">Choose your student's school to see the lunch menu.</p>
  </div>
</div>

{{#each menus as |menu|}}
{{> menu-details}}
{{/each}}

