<section>
  <div class="card" style="width: 18rem;">
    <img src="/images/{{meal.filename}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{meal.title}}</h5>
      <p class="card-text">{{meal.description}}</p>

    </div>
  </div>
</section>
<script src="/js/my-meal.js"></script>